<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SyncMeet">

        <!-- Activity de Detalhe da Edição -->
        <activity
            android:name=".EditarEventoDetailActivity"
            android:exported="false"
            android:parentActivityName=".EditarEventoActivity" />

        <!-- Activity de Detalhe do Histórico -->
        <activity
            android:name=".HistoricoEventoDetailActivity"
            android:exported="false"
            android:parentActivityName=".HistoricoEventoActivity" />

        <!-- Activity de Agenda de Eventos -->
        <activity
            android:name=".AgendaEventoActivity"
            android:exported="false"
            android:parentActivityName=".TelaPrincipalActivity" />

        <!-- Activity de Histórico de Eventos -->
        <activity
            android:name=".HistoricoEventoActivity"
            android:exported="false"
            android:parentActivityName=".TelaPrincipalActivity" />

        <!-- Activity de Edição de Evento -->
        <activity
            android:name=".EditarEventoActivity"
            android:exported="false"
            android:parentActivityName=".TelaPrincipalActivity" />

        <!-- Activity de Criação de Evento -->
        <activity
            android:name=".CriarEventoActivity"
            android:exported="false"
            android:parentActivityName=".TelaPrincipalActivity" />

        <activity
            android:name=".CriarContaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TelaPrincipalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>